body {
    padding:20px;
    font-family: sans-serif;
}

/* tutaj stylowanie */
.tab {
    border-collapse: collapse;
}

th{
    border: 1px solid #aaa;
    background: gold;
    padding: 20px;
}

td{
    border: 1px solid #aaa;
    padding: 20px;
}  
